.background{
    background-image: url("https://homepie.com/js/a65188974a014a708523-b6f2640e7042ce281444477a9973f577.png?vsn=d");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 3rem;
    color: aliceblue;
    padding-left: 5rem;
    position: relative; 
}
 
.background h1{
    font-size: 4rem;
    margin: 0px ;
    text-transform: capitalize;
   
}
.background h3{
    width: 40%;
    letter-spacing: 2px;
    font-size: 2rem;
}
 
.Button_Two a{
    margin: 1rem;
    margin-left: 0%;
    font-size: 2rem;
    color: rgb(0, 223, 151);
  text-transform: capitalize;
}
/* min-height */
 
@media (max-width:1200px) {
    .background h1 {
            font-size: 3rem;
            margin: 0px;
            text-transform: capitalize;
    
        }
    
        .background h3 {
          padding: 1rem 0px;
            font-size: 1.5rem;
        }
         
    .background h1 {
            font-size: 3rem;
            margin: 0px;
            text-transform: capitalize;
    
        }
    
        .background h3 {
          padding: 1rem 0px;
            font-size: 1.5rem;
        }
    
        .Button_Two a {
            margin: 1rem;
            margin-left: 0%;
            font-size: 1.3rem;
            color: rgb(0, 223, 151);
            text-transform: capitalize;
        }
 
   
    
        .Button_Two a {
            margin: 1rem;
            margin-left: 0%;
            font-size: 1.3rem;
            color: rgb(0, 223, 151);
            text-transform: capitalize;
        }
}

@media (max-width:770px) {
    .background h1 {
        font-size: 3rem;
        margin: 0px;
        text-transform: capitalize;

    }

    .background h3 {
        width: 50%;
        padding: 1rem 0px;
        font-size: 1.1rem;
    }
 
}
 @media (min-height:1000px) {
     .background h1 {
         font-size: 3rem;


     }

     .background h3 {
         width: 60%;
         letter-spacing: 2px;
         font-size: 2rem;
     }

     .Button_Two a {

         font-size: 2rem;

     }
 }
@media (max-width:550px) {
    .background h1 {
            font-size: 2rem;
            margin: 0px;
            text-transform: capitalize;
    
        }
    .background h3 {
            width: 100%;
         
        }
}