*{
  scroll-behavior: smooth;
 overflow-x: hidden;
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
 max-width: 100%;
}
 .TopScroll{
  position: fixed;
  bottom: 20rem;
  right: 1rem;
 }
  .TopScroll button{
  background-color: rgb(0, 223, 151);
  color: aliceblue;
  border-radius: 6rem;
  padding: 1rem;
  }
  .TopScroll i{
  font-size: 2rem;
  }
.TopScroll button:hover{
  background-color: rgb(0, 223, 151);
    color: aliceblue;
    border-radius: 6rem;
    padding: 1rem;
}
@media(max-height:680px) {
  .TopScroll i{
      font-size: 1.4rem;
    }
    .TopScroll button {
       
      padding: 1.3rem .5rem;}
}